.header_component_container{
    width: 80%;
    margin: auto;
    padding-top: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.header_component_container > h1{
    font-family: "Jost",sans-serif;
    tab-size: 50px;
    color: #4aa96c;
    font-weight: 700;
    font-size: 35px;
}

.header_component_input_wrap{
    display: flex;
    margin-top: 30px;
    position: relative;
}

.header_component_input_wrap > input{
    width: 280px;
    height: 40px;
    border: 1px solid #4aa96c;
    outline: 0;
    padding-left: 15px;
    border-radius: 5px 0px 0px 5px;
}

.header_component_input_wrap > button{
    position: relative;
    left: -20px;
    width: 80px;
    border: 1px solid #4aa96c;
    cursor: pointer;
    color: #fff;
    border-radius: 0px 30px 30px 0px;
    background-color: #4aa96c;
}

/* Media Query USE Start */
@media only screen and (max-width: 425px){
    .header_component_container > h1{
        font-family: "Jost",sans-serif;
        tab-size: 50px;
        color: #4aa96c;
        font-weight: 700;
        font-size: 15px;
    }
    .header_component_input_wrap{
        margin-left: 20px;
    }
}